@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
	--font-sans: 'Inter', sans-serif;
	--font-twoweekend: 'Two Weekend Go';
}

@layer base {
	@font-face {
		font-family: 'Two Weekend Go';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(../../fonts/twoweekendgo-semibold.otf) format('opentype');
	}
}

:root {
	background-color: black;
}

/* Gradients */
.bg-gradient-button {
	background-image: linear-gradient(to right, white, black);
}

@keyframes text-fill-right {
	from {
		background-position: 0% 50%;
	}
	to {
		background-position: 100% 50%;
	}
}

@layer utilities {
	.animate-gradient-text {
		background-size: 500% auto;
		animation: text-fill-right 2000ms ease-out forwards;
	}
}
